<div class="container">
    <div class="health">
      <p>Vida
        <span *ngFor="let vida of vidas"><p>❤️</p></span>
      </p>
    </div>
    <div class="health">
      <p>Ataque
        <span *ngFor="let ataque of ataques"><p>⚔️</p></span>
      </p>
    </div>
    <div class="health">
      <p>Defensa
        <span *ngFor="let defensa of escudos"><p>🛡️</p></span>
      </p>
    </div>
    <div class="health">
        <p>Velocidad
          <span *ngFor="let velocidad of zapatos"><p>👟</p></span>
        </p>
      </div>
  </div>
  
  